<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html {
    overflow-y: hidden;
}
=======
>>>>>>> 19348572b0f28c6aaf7c78ccf5f1bb0d64782bcb

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#visual {
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.content {
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

<<<<<<< HEAD
.header-content {
    display: flex;
    align-items: center;
}

.header-content img {
    height: 5em;
    width: 5em;
}

.header-content h1 {
    color: #f3f3f3;
    font-family: 'Silkscreen', cursive;
=======
.header-content h1 {
    color: #f3f3f3;
    font-family: sans-serif;
>>>>>>> 19348572b0f28c6aaf7c78ccf5f1bb0d64782bcb
    font-size: 300%;
}


.btn {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 2em;
<<<<<<< HEAD
    font-family: 'Silkscreen', cursive;
    border: solid 2px #f3f3f3;
    padding: 5px 1em;
=======
    font-family: sans-serif;
    border: solid 2px #f3f3f3;
    padding: 5px 1em;
    border-radius: 5px;
>>>>>>> 19348572b0f28c6aaf7c78ccf5f1bb0d64782bcb
    text-align: center;
}

.btn:hover {
<<<<<<< HEAD
    font-size: 2.1em;
    border: solid 2px yellow;
    color: yellow;
    padding: 5px 1em;
}

.rule {
    font-family: 'Silkscreen', cursive;
=======
    background-color: #f3f3f3;
    color: #000;
}

.rule {
    font-family: sans-serif;
>>>>>>> 19348572b0f28c6aaf7c78ccf5f1bb0d64782bcb
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rules h1 {
<<<<<<< HEAD
    font-family: 'Silkscreen', cursive;
=======
    font-family: sans-serif;
>>>>>>> 19348572b0f28c6aaf7c78ccf5f1bb0d64782bcb
    color: #f3f3f3;
}

.joueur-gauche {
    color: #f3f3f3;
<<<<<<< HEAD
    font-family: 'Silkscreen', cursive;
    margin-right: 1em;
    border: solid 1px #f3f3f3;
=======
    font-family: sans-serif;
    margin-right: 1em;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
>>>>>>> 19348572b0f28c6aaf7c78ccf5f1bb0d64782bcb
    padding: 1em;
}

.joueur-droit {
    color: #f3f3f3;
<<<<<<< HEAD
    font-family: 'Silkscreen', cursive;
    margin-left: 1em;
    border: solid 1px #f3f3f3;
=======
    font-family: sans-serif;
    margin-left: 1em;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
>>>>>>> 19348572b0f28c6aaf7c78ccf5f1bb0d64782bcb
    padding: 1em;
}

.bottom-control {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    margin-top: 5%;
}


.control-content {
    margin-top: 3em;
    display: flex;
}

.deplacement {
    margin-right: 3em;
}